.input {
  .container {
    form {
      position: relative;
      input {
        border: none;
        padding: 5px;
        background-color: #313131;
        width: 100%;
        color: wheat;
        font-size: 25px;
        font-weight: bold;
        border-radius: 8px;
        height: 45px;
        outline: none;
      }

      button {
        position: absolute;
        padding: 0 20px;
        height: 100%;
        right: 0;
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;
        color: black;
        background-color: #ddd;
        border-radius: 0 6px 6px 0;
        border: none;
        transition: 0.5s;
      }
    }
  }
}
